# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.*.local

# Logs
logs
*.log
logs/
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Coverage directory
coverage/

# Build output
dist/
build/
out/

# Misc
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
